<web-app>
	<servlet>
		<servlet-name>firstone</servlet-name>
		<jsp-file>/devjsp.jsp</jsp-file>
		<init-param>
			<param-name>id2</param-name>
			<param-value>poopmehard80</param-value>
		</init-param>
		<init-param>
			<param-name>id3</param-name>
			<param-value>poopmehard90</param-value>
		</init-param>
	</servlet>

	<context-param>
			<param-name>id1</param-name>
			<param-value>poopmehard70</param-value>
	</context-param>
	<context-param>
			<param-name>num</param-name>
			<param-value>56</param-value>
	</context-param>
	<servlet-mapping>
		<servlet-name>firstone</servlet-name>
		 <url-pattern>/somejsp</url-pattern>
	</servlet-mapping>

</web-app>